{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | relative_url }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h4 class="archive__item-title" itemprop="headline" style="color: #32859e; font-weight: 300;">
      {% if post.authors %}
        {{ post.authors}}.
      {% endif %}
      <b>
      {% if post.title %}
        {{ post.title}}
      {% endif %}
      </b>
      {% if post.additional_info %}
        {{ post.additional_info}}:
      {% endif %}

      <!-- {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.external_url | relative_url }}" target="_blank" rel="permalink">{{ title }}</a>
      {% endif %} -->
    </h4>
    {% if post.read_time %}
      <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    <!-- {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %} -->
  </article>
  {% if post.external_url %}
    <a href="{{ post.external_url}}" class="btn btn-link" target="_blank"><i class="fas fa-link"></i> Link</a>
  {% endif %}
  {% if post.data %}
    <a href="{{ post.data }}" class="btn btn-link" target="_blank"><i class="fas fa-chart-bar"></i> Data</a>
  {% endif %}
  {% if post.code %}
    <a href="{{ post.code }}" class="btn btn-link" target="_blank"><i class="fa fa-code"></i>  Code</a>
  {% endif %}
  {% if post.resource %}
    <a href="{{ post.resource }}" class="btn btn-link" target="_blank"><i class="fa fa-tools" download></i>  Resources</a>
  {% endif %}
  <br>
  <br>
  <br>
</div>
